:root {
    --green-color: #4c824b;
    --light-green-color: #6ac487;
    --yellow-color: #ffd435;
    --blue-color: #5575c2;
    --red-color: #d14e5b;
    --purple-color: #a653ba;
    --salmon-color: #f38a59;
}

header {
    display: flex;
    flex-basis: 400px;
}

img {
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.africa {
    color: var(--blue-color);
}

.antarctica {
    color: var(--salmon-color);
}

.asia {
    color: var(--red-color);
}

.europe {
    color: var(--yellow-color);
}

.north_america {
    color: var(--green-color);
}

.south_america {
    color: var(--light-green-color);
}

.oceania {
    color: var(--purple-color);
}

#country_button {
    margin: 3rem;
    padding: 2rem;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5rem;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    background-color: #FCEA9C;
    color: #9CAEFC;
    border-color: #9CAEFC;
}

.country_card_list {
    display: flex;
    flex-wrap: wrap;
}

.country_card {
    list-style-type: none;
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    background-color: #FAFAFA;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.country_card img {
    width: 50px;
}

.country_card_flag_and_name {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}